<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>eiviz-mac</string>
	<key>CFBundleIdentifier</key>
	<string>jp.mikanseilaboratory.eiviz</string>
	<key>CFBundleName</key>
	<string>eiviz</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3.0-alpha.1</string>
	<key>CFBundleVersion</key>
	<string>0.3.0-alpha.1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSCameraUsageDescription</key>
	<string>eiviz captures cameras as mixer video inputs.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>eiviz captures microphones as mixer audio inputs.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>eiviz discovers and sends NDI and OMT on the local network.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_ndi._tcp</string>
		<string>_ndi._udp</string>
		<string>_omt._tcp</string>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>eiviz Session</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>jp.mikanseilaboratory.eiviz.session</string>
				<string>jp.mikanseilaboratory.eiviz.session-export</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>jp.mikanseilaboratory.eiviz.session</string>
			<key>UTTypeDescription</key>
			<string>eiviz Session</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>eivz</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>jp.mikanseilaboratory.eiviz.session-export</string>
			<key>UTTypeDescription</key>
			<string>eiviz Session Export</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>eivzx</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
